{{ if eq .chezmoi.os "windows" }}
.config/komorebi/komorebi.bar.json
.glzr/zebar
{{ end }}
{{ if eq .chezmoi.os "linux" }}
# Retire the old Node-manager hooks and the managed nvm/Bass bridge.
.config/fish/conf.d/nvm.fish
.config/fish/conf.d/fnm.fish
.config/fish/functions/nvm.fish
.config/fish/functions/bass.fish
.config/fish/functions/__bass.py
{{ end }}
