{{ if ne .chezmoi.os "windows" }}
AppData
.config/komorebi
.config/whkdrc
.config/yasb
.chezmoiscripts/windows/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.config/nvim
.chezmoiscripts/linux/**
{{ end }}
