[General]
Name=Rhythm Games

[Output]
Mode=Advanced
FilenameFormatting=%CCYY-%MM-%DD %hh-%mm-%ss

[AdvOut]
RecType=Standard
RecFilePath={{ .chezmoi.homeDir | replace "\\" "/" }}/Videos
RecFormat2=hybrid_mp4
RecEncoder=obs_qsv11_av1
RecAudioEncoder=ffmpeg_aac
RecTracks=1
RecRescaleFilter=0
RecRB=false
Track1Bitrate=320

[Video]
BaseCX=2880
BaseCY=1800
OutputCX=2880
OutputCY=1800
FPSType=0
FPSCommon=60
ColorFormat=P010
ColorSpace=709
ColorRange=Partial

[Audio]
SampleRate=48000
ChannelSetup=Stereo
